body {
	background: url("/unit_3/images/rose-background-v3.jpg");
	background-size: cover; 
	color: rgb(255,255,255);
	font-family: Helvetica;
	text-align: center;
}
h1 hr #slogan {
	color: rgb(255,255,255);
}
hr {
	width: 300px;
}
#slogan {
	font-style: italic;
	font-size: 18px;
	font-weight: bold;
}
p {
	color: rgb(255,255,255);
}

a {
	text-decoration: none;
}
