*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	/*background: url("/unit_3/images/rose-background-v3.jpg");*/
	background: rgb(141,143,105);
	/*background-size: cover;*/
	margin-left: 10em;
	margin-right: 10em;
	color: #696969;
}

nav#nav {
	display: block;
	font-family: 'Raleway', sans-serif;
}


/*.container {
	margin-left: auto;
	margin-right: auto;
}*/

h1{
	font-family: 'Syncopate', sans-serif;
	font-size: 25px;
}

h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

ol, ul {
	list-style: none;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.image {
	display: inline-block;
	outline: 0;
}

#page-wrapper {
	background-color: #d1d4c1;
	position: relative;
}

#header-wrapper {
	background-color: #d1d4c1;
	font-family: 'Syncopate', sans-serif;
}

#header {
	position: relative;
}

#header:after {
	content: "";
	display: block;
	clear: both;
}

hr{
	width: 300px;
	color: #fff;
	display: block;
	margin: 0 auto;
}

#logo {
	width: 50%;
	float: left;
	display: block;
}
	#logo h1 a{
		font-family: 'Syncopate', sans-serif;
		font-size: 25px;
		line-height: 25px;
	}

#nav {
	width: 50%;
	float: right;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	word-spacing: 8px;
}
	#nav ul {
		float: right;
	}
	#nav ul li {
		float: left;
		list-style: none;
		line-height: 25px;
		padding-left: 16px;
	}

#hero {
	position: relative;
	background: url("../images/whiterose-background-v2.jpg");
	background-size: cover;
	color: #fff;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
	#hero h2 {
		font-family: 'Syncopate', sans-serif;
		color: #fff; 
		font-size: 55px;
	}

	#hero p {
		line-height: 13px;
		color: #fff;
	}

#slogan {
	font-family: 'Syncopate', sans-serif;
	font-size: 25px;
	line-height: 25px;
}

	#slogan, h1{
	font-family: 'Syncopate', sans-serif;
	font-size: 25px;
	line-height: 25px;
	color: #fff;
	}

#hero.actions {
	line-height: 45px;
	list-style: none;
	border-color: rgba(255,255,255,0.75);
	background-color: rgba(255,255,255,0.15);
	color: #fff; 

}

#main-wrapper {
	background-color: #d1d4c1;
	font-size: 13px;
	text-align: center;
	color: #000;
	padding-left: 40px;
	padding-right: 40px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #000;
}



a {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}



/*tables*/

/*buttons or actions*/

/*footers*/

#footer {
	font-family: 'Raleway', sans-serif;
	background: rgb(19,27,35);
	position: relative;
	font-size: 9px;
	color: #fff;
}
	#footer a{
	background: rgb(19,27,35);
	position: relative;
	font-size: 9px;
	color: #fff;
}

#footer p{
	background: rgb(19,27,35);
	position: relative;
	font-size: 9px;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 10px;
}